@model CurrentWeatherViewModel

@{
    ViewData["Title"] = "CurrentWeather";
}


@if (ViewData["TextResponse"] != null && ViewData["TextResponse"].ToString() == "Invalid city name")
{
    <div class="text-center" style="margin-top: 80px;">
        <h1 class="display-4">Please enter a valid city name.</h1>
        <img src="~/images/sunshine.jpg" alt="Sunshine" width="350" style="margin-top: 80px;" />
    </div>
}
else if (ViewData["TextResponse"] != null && ViewData["TextResponse"].ToString() == "API service unavailable")
{
    <div class="text-center" style="margin-top: 80px;">
        <h1 class="display-4">The application has reached the maximum weather API request limit. <br /><br />Please try again later.</h1>
        <img src="~/images/sunshine.jpg" alt="Sunshine" width="350" style="margin-top: 80px;" />
    </div>
}
else
{
    <div class="text-center" style="margin-top: 30px;">
        <h1 style="font-family: Calibri; font-weight: bold;">Current Weather</h1>
        <br />
        <div class="card mx-auto shadow-sm" style="width: 25rem; border: 1px solid lightgray;">

            <div class="card-img">
                @if (Model.IsDayTime)
                {
                    <img class="card-img-top" src="~/images/day.jpg" alt="Card image cap">
                }
                else
                {
                    <img class="card-img-top" src="~/images/night.jpg" alt="Card image cap">
                }
                <div class="card-img-bottom-right"><span style="font-family: Calibri;font-weight: bold; font-size: 40px;">@Model.CityName<br /></span><span style="font-size: 20px; display: inline-block">@Model.CityDate</span></div>
            </div>

            <div class="card-body">

                <p class="card-text">

                    <span style="font-weight: bold;float: right;font-size: 17px">@Model.CityTime</span>
                    <br />
                    <br />
                    <span style="font-family: Calibri; font-size: 30px; ">
                        @Model.WeatherCondition
                    </span>

                    <br />

                    <img src="http://openweathermap.org/img/wn/@{@Model.Icon}@@2x.png" alt="" /><br />
                    <span style="font-family: Calibri; font-size: 30px; ">
                        @Model.Temperature °F
                    </span>

                    <br />
                    <br />

                </p>

            </div>
        </div>
    </div>







}

